/* galaxy s21 */
@media only screen and (max-width: 370px) and (min-width: 360px) { 
    
    header{
        width: 100%;
        height: 85px;
    }
    
    

    .card1, .card2, .card3, .card4, .card5{
        width: 345px;
    }

    .inputcvconct{
        min-width: 345px;
    }

    .generenom h1
    {
        font-size: 2.5em;
    }
    
    .Alternance .date{
        min-width: 170px;
    }

    .theTribe .date{
        min-width: 90px;
    }

    .Autodidacte .date{
        min-width: 70px;
    }

    .prepa .date{
        min-width: 130px;
    }

    .card3{
        height: 2260px;
    }

    .row .col .skill{
        min-width: 140px;
        min-height: 140px;
    }    

}









/* Iphone X */

@media only screen and (max-width: 390px) and (min-width: 375px) { 
    
    header{
        width: 375px;
        height: 85px;
    }
    
    header nav ul li a img{
        min-height: 40px;
    }

    

    .card1, .card2, .card3, .card4, .card5{
        width: 360px;
    }

    .inputcvconct{
        min-width: 360px;
    }

    .generenom h1
    {
        font-size: 2.5em;
    }
    
    .Alternance .date{
        min-width: 170px;
    }

    .theTribe .date{
        min-width: 90px;
    }

    .Autodidacte .date{
        min-width: 70px;
    }

    .prepa .date{
        min-width: 130px;
    }

    .card3{
        height: 2270px;
    }

    .row .col .skill{
        min-width: 140px;
        min-height: 140px;
    }    

}
/* iphone 12 pro */
@media only screen and (max-width: 412px) and (min-width: 390px) {
    
    header{
   
        height: 85px;
    }
    
    header nav ul li a img{
        min-height: 40px;
    }



    .card1, .card2, .card3, .card4, .card5{
        width: 375px;
    }

    .inputcvconct{
        min-width: 375px;
    }

    .generenom h1
    {
        font-size: 2.5em;
    }
    
    .Alternance .date{
        min-width: 180px;
    }

    .theTribe .date{
        min-width: 100px;
    }

    .Autodidacte .date{
        min-width: 80px;
    }

    .prepa .date{
        min-width: 140px;
    }

    .card3{
        height: 2260px;
    }


    .row .col .skill{
        min-width: 140px;
        min-height: 140px;
    }    

}


/* Samsumg Galaxy 20 ultra */
@media only screen and (max-width: 768px) and (min-width: 412px) {
    
    header{
        height: 85px;
    }
    
    header nav ul li a img{
        min-height: 40px;
    }

    

    .card1, .card2, .card3, .card4, .card5{
        width: 397px;
    }

    .inputcvconct{
        min-width: 397px;
    }

    .generenom h1
    {
        font-size: 2.5em;
    }
    
    .Alternance .date{
        min-width: 175px;
    }

    .theTribe .date{
        min-width: 100px;
    }

    .Autodidacte .date{
        min-width: 80px;
    }

    .prepa .date{
        min-width: 145px;
    }
    
    .card2{
        height: 880px;
    }

    .card3{
        height: 2300px;
    }

    .card5{
        height: 1030px;
    }


    .row .col .skill{
        min-width: 140px;
        min-height: 140px;
    }    

    .savoirFaire ul
    {
    margin-top: 20px;
    }
}